<div class="space-60"></div>
<footer>
  
  <div class="footer_content container">
    <div class="footer_title">
      <%= image_tag 'noun_3169.png', alt: "logo mirroir", height:"30px" %><p>OpenBeauty</p>
      
    </div>

    <h3>🤳 06 65 14 13 99</h3>
   
  </div>
  <div class="footer_credits">
     
  </div>
</footer>
